@model DataTableModel
@using Newtonsoft.Json.Linq
@{
    ViewData["Title"] = "DataTable";
}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            @foreach (JProperty property in Model.arrOfData.FirstOrDefault())
            {
                <th>@property.Name</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (JObject o in Model.arrOfData.Children<JObject>())
        {
            <tr>
                @foreach (JProperty property in o.Properties())
                {
                    <td>@property.Value</td>
                }
            </tr>
        }
    </tbody>
</table>
@*@foreach (dynamic attr in Model.data)
    {
        <td>@attr.Value</td>
    }*@
